################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Animine/.vs
/Animine/node_modules
/Animine/Animine/bin    
/Animine/Animine/obj